streamlit
llama-index
llama-index-llms-gemini
llama-index-embeddings-huggingface
llama-index-readers-file
python-dotenv
pandas
ragas
datasets
langchain-google-genai
langchain-huggingface
sentence-transformers
pymupdf